@charset "UTF-8";
:root {
  --main-bg-color: #f29c54;
}
html {
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#scores {
  font-size: 200%;
}

.game {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 640px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  border: 2px solid white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border-radius: 0.5rem;
  width: calc(100% / 4);
  aspect-ratio: 1;
  background-color: green;
}
.card span {
  font-size: 450%;
  display: none;
}

.card.show > span {
  display: flex;
}
